*{
    margin: 0;
    padding:0;
    }
    
    header { 
    background: none;
    margin: 30;
    }
    .container{
        font-family: Arial, Helvetica, sans-serif;
    }
    .bg_image{
        background-image: url(../Image/bannerlist.jpg);
        height: 140px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .Menu{
        display: flex;
    }
    nav{
        height: 35px;
        padding: 8px 0 0 40px;
        margin: 30px 0 0 100px;
    }
    nav > ul > li{
        display: inline-flex;
        list-style:circle;
    }
    nav > ul > li > a{
        text-decoration: none;
        text-align: center;
        font-size: 25px;
        margin-right: 50px;
        color: rgb(242, 186, 102);
        padding: 0 30px 0 0;
    }
    nav > ul > li > a:hover, .dropdown:hover{
        color: rgb(115, 58, 0); 
    }*{
        margin: 0;
        padding:0;
        }
        
        header { 
        background: none;
        margin: 30;
        }
        .container{
            font-family: Arial, Helvetica, sans-serif;
        }
        .bg_image{
            background-image: url(../Image/bannerlist.jpg);
            height: 140px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

    .row{
        width: auto;
        height: auto;
        margin-right: 60px;
    }
    .row-content{
        width: auto;
        overflow: hidden;
        margin-top: 30px;
        height: 400px;
    }
    .row-content > a > img{
        width: 400px;
        height: 350px;
    }
    .form1{
        background-color: rgb(255, 255, 255, 0.8);
        transition: 0.75s;
    }
    .form1 > p {
        margin: 3px;
    }
    .row-content:hover .form1{
        transform: translateY(-70px);
    }
    button{
        position: relative;
        overflow: hidden;
        width: 120px;
        height: 35px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: white;
        background-color: black;
        border: 0;
        border-radius: 10px;
        margin: 30px;
        z-index: 0;
    }
    button::before{
        content: "";
        position: absolute;
        top: 0;
        left: auto;
        width: 0;
        right: 0;
        height: 100%;
        background-color: rgb(255, 0, 85);
        transition: 0.25s;
        z-index: -1;
    }
    button:hover::before{
        width: 100%;
        left: 0;
        right: auto;    
    }

    .payment > img{   
        width: 100px;
        height: 100px;
        margin: 100px 0 0 300px;
    }

    footer {
        text-align: center;
        font-size: 25px;
        background-color: #111;
    }
    .footerContainer{
        width: 100%;
        height: 100%;
        padding: 50px 0px 10px ;
        margin-top: 350px;
    }
    .socialIcons{
        display: flex;
        justify-content: center;
    }
    .socialIcons a{
        text-decoration: none;
        padding:  10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }
    .socialIcons a i{
        font-size: 1em;
        color: black;
        opacity: 0,9;
    }
    /* Hover affect on social media icon */
    .socialIcons a:hover{
        background-color: #111;
        transition: 0.5s;
    }
    .socialIcons a:hover i{
        color: white;
        transition: 0.5s;
    }
    .footerNav {
        font-size: 20px;
        margin: 30px 0 0 40px;
        color: white;
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    .footerBottom{
        background-color: #000;
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }
    .footerBottom p{
        color: white;
    }
    .designer{
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0px 5px;
    }